.postContainer,
#content {
	transition: all 0.3s ease;
}
.postContainer:hover {
	opacity: 1 !important;
}
.JV_title {
	cursor: pointer;
}
.JV_title .manage_post_wr {
	display: none;
}
.JV_title .post_content {
	max-height: 150px !important;
}
.JV_title .hightlighted {
	max-height: 150px !important;
}
.JV_title:hover .manage_post_wr {
	display: revert;
}
.JV_title:hover .post_content {
	max-height: 100% !important;
}
.JV_title:hover .post_content_expand {
	display: none !important;
}
.JV_title:hover .hightlighted {
	max-height: 2000px !important;
}
.JV_mark > .article {
	animation-duration: 3s;
	animation-name: mark;
	animation-timing-function: ease;
}
[alt="Copywrite"],
.blog_avatar.hide {
	display: none !important;
}
a[data-tag_id] {
	cursor: pointer;
	text-decoration: underline;
}
.pagination_full .prev, 
.pagination_full .next {
	width: 72px !important;
}
.taglist a.subscribed:after {
	content: '★';
	right: 0px;
	color: #9BD628;
}
.taglist a.blocked:after {
	content: '⊠';
	right: 0px;
	color: #FF0000;
}
span[data-action="download"],
span[data-action="options"] {
	display: block !important;
	width: 28px;
	height: 28px;
	margin-bottom: 10px !important;
	padding: 0px;
	cursor: pointer;
	background-size: contain !important;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2NCA2NCIgYmFzZVByb2ZpbGU9ImJhc2ljIiBmaWxsPSIjNDU0NTQ1Ij48cGF0aCBkPSJNMzQsMjJoLTJjLTAuNTUyLDAtMS0wLjQ0OC0xLTF2LTdoNHY3QzM1LDIxLjU1MiwzNC41NTIsMjIsMzQsMjJ6Ii8+PHBhdGggZD0iTTM4LDI4SDI1Yy0yLjIwOSwwLTQtMS43OTEtNC00VjE0aDR2OS41YzAsMC4yNzYsMC4yMjQsMC41LDAuNSwwLjVoMTJjMC4yNzYsMCwwLjUtMC4yMjQsMC41LTAuNVYxNAloNHYxMEM0MiwyNi4yMDksNDAuMjA5LDI4LDM4LDI4eiIvPjxwYXRoIGQ9Ik00NCw1MGgtNFYzOC41YzAtMC4yNzYtMC4yMjQtMC41LTAuNS0wLjVoLTE1Yy0wLjI3NiwwLTAuNSwwLjIyNC0wLjUsMC41VjUwaC00VjM4CWMwLTIuMjA5LDEuNzkxLTQsNC00aDE2YzIuMjA5LDAsNCwxLjc5MSw0LDRWNTB6Ii8+PHBhdGggZD0iTTQ2LDUySDE4Yy0zLjMwOSwwLTYtMi42OTEtNi02VjE4YzAtMy4zMDksMi42OTEtNiw2LTZoMjcJYzAuNTMsMCwxLjAzOSwwLjIxMSwxLjQxNCwwLjU4Nmw1LDVDNTEuNzg5LDE3Ljk2MSw1MiwxOC40Nyw1MiwxOXYyN0M1Miw0OS4zMDksNDkuMzA5LDUyLDQ2LDUyeiBNMTgsMTZjLTEuMTAzLDAtMiwwLjg5Ny0yLDJ2MjgJYzAsMS4xMDMsMC44OTcsMiwyLDJoMjhjMS4xMDMsMCwyLTAuODk3LDItMlYxOS44MjlMNDQuMTcyLDE2SDE4eiIvPjwvc3ZnPiAK') !important;
}
span[data-action="options"] {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwLDAsMjU2LDI1NiIgd2lkdGg9IjQ2cHgiIGhlaWdodD0iNDZweCIgZmlsbC1ydWxlPSJub256ZXJvIj48ZyBmaWxsPSIjNDU0NTQ1IiBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0iYnV0dCIgc3Ryb2tlLWxpbmVqb2luPSJtaXRlciIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtZGFzaGFycmF5PSIiIHN0cm9rZS1kYXNob2Zmc2V0PSIwIiBmb250LWZhbWlseT0ibm9uZSIgZm9udC13ZWlnaHQ9Im5vbmUiIGZvbnQtc2l6ZT0ibm9uZSIgdGV4dC1hbmNob3I9Im5vbmUiIHN0eWxlPSJtaXgtYmxlbmQtbW9kZTogbm9ybWFsIj48ZyB0cmFuc2Zvcm09InNjYWxlKDQsNCkiPjxwYXRoIGQ9Ik0yOS4wNTQ2OSwxMGMtMS4zMzksMCAtMi40ODI5OCwwLjk2NDIgLTIuNzA4OTgsMi4yODMybC0wLjU4MjAzLDMuMzgwODZjLTAuMzA2LDAuMTE3IC0wLjYxMTIsMC4yMzgwOSAtMC45MDgyLDAuMzcxMDlsLTIuNzk2ODcsLTEuOTc2NTZjLTEuMjI4LC0wLjg0OSAtMi42NzUyNSwtMC41MzgyNyAtMy41MzEyNSwwLjMwMjczbC00LjE2NjAyLDQuMTY0MDZjLTAuOTQ3LDAuOTQ3IC0xLjA3Mjc4LDIuNDM3MjUgLTAuMzAwNzgsMy41MzEyNWwxLjk3NDYxLDIuNzk4ODNjLTAuMTM0LDAuMjk3IC0wLjI1NDA5LDAuNjAwMjUgLTAuMzcxMDksMC45MDYyNWwtMy4zODA4NiwwLjU4MjAzYy0xLjMyLDAuMjI3IC0yLjI4MzIsMS4zNzE5NCAtMi4yODMyLDIuNzEwOTR2NS44OTA2MmMwLDEuMzM5IDAuOTY0MiwyLjQ4Mjk4IDIuMjgzMiwyLjcwODk4bDMuMzgwODYsMC41ODIwM2MwLjExNywwLjMwNiAwLjIzODA5LDAuNjExMiAwLjM3MTA5LDAuOTA4MmwtMS45NzY1NiwyLjc5Njg4Yy0wLjc3MiwxLjA5MyAtMC42NDQyNywyLjU4NDI1IDAuMzAyNzMsMy41MzEyNWw0LjE2NDA2LDQuMTY2MDJjMS4wODQsMS4wNiAyLjU5OTI1LDAuOTc1NzggMy41MzEyNSwwLjMwMDc4bDIuNzk4ODMsLTEuOTc0NjFjMC4yOTcsMC4xMzQgMC42MDAyNSwwLjI1NDA5IDAuOTA2MjUsMC4zNzEwOWwwLjU4MjAzLDMuMzgwODZjMC4yMjcsMS4zMiAxLjM3MTk0LDIuMjgzMiAyLjcxMDk0LDIuMjgzMmg1Ljg5MDYyYzEuMzM5LDAgMi40ODI5OCwtMC45NjQyIDIuNzA4OTgsLTIuMjgzMmwwLjU4MjAzLC0zLjM4MDg2YzAuMzA2LC0wLjExNyAwLjYxMTIsLTAuMjM4MDkgMC45MDgyLC0wLjM3MTA5bDIuNzk2ODgsMS45NzY1NmMwLjgyNSwwLjYwOCAyLjQwMjI1LDAuODI3MjcgMy41MzEyNSwtMC4zMDI3M2w0LjE2NjAyLC00LjE2NDA2YzAuOTQ3LC0wLjk0NyAxLjA3Mjc4LC0yLjQzNzI1IDAuMzAwNzgsLTMuNTMxMjVsLTEuOTc0NjEsLTIuNzk4ODNjMC4xMzQsLTAuMjk3IDAuMjU0MDksLTAuNjAwMjUgMC4zNzEwOSwtMC45MDYyNWwzLjM4MDg2LC0wLjU4MjAzYzEuMzIsLTAuMjI3IDIuMjgzMiwtMS4zNzE5NCAyLjI4MzIsLTIuNzEwOTR2LTUuODkwNjJjMCwtMS4zMzkgLTAuOTY0MiwtMi40ODI5OCAtMi4yODMyLC0yLjcwODk4bC0zLjM4MDg2LC0wLjU4MjAzYy0wLjExNywtMC4zMDYgLTAuMjM4MDksLTAuNjExMiAtMC4zNzEwOSwtMC45MDgybDEuOTc2NTYsLTIuNzk2ODdjMC43NzIsLTEuMDkzIDAuNjQ0MjcsLTIuNTg0MjUgLTAuMzAyNzMsLTMuNTMxMjVsLTQuMTY0MDYsLTQuMTY2MDJjLTEuMDU3LC0xLjAzMiAtMi41MjIyNSwtMS4wMDk3OCAtMy41MzEyNSwtMC4zMDA3OGwtMi43OTg4MywxLjk3NDYxYy0wLjI5NywtMC4xMzQgLTAuNjAwMjUsLTAuMjU0MDkgLTAuOTA2MjUsLTAuMzcxMDlsLTAuNTgyMDMsLTMuMzgwODZjLTAuMjI3LC0xLjMyIC0xLjM3MTk0LC0yLjI4MzIgLTIuNzEwOTQsLTIuMjgzMnpNMzAuMjE0ODQsMTRoMy41NzIyN2MwLjA2MSwwIDAuMTEzMDUsMC4wNDM1MiAwLjEyMzA1LDAuMTAzNTJsMC43NzE0OCw0LjQ4NjMzYzEuNzY4LDAuNjM1IDMuNDIzMiwxLjMwNDMgNC45MDgyLDIuMDI5M2wzLjcxMjg5LC0yLjYyMzA1YzAuMDUsLTAuMDM1IDAuMTE5MTEsLTAuMDI5MzMgMC4xNjIxMSwwLjAxMzY3bDIuNTI1MzksMi41MjczNGMwLjA0MywwLjA0MyAwLjA1MDYyLDAuMTEwMTYgMC4wMTU2MywwLjE2MDE2bC0yLjYyNSwzLjcxNDg0YzAuNzU5LDEuNjA1IDEuNDQzMywzLjIzNzI1IDIuMDI5Myw0LjkwNjI1bDQuNDg2MzMsMC43NzM0NGMwLjA2LDAuMDEgMC4xMDM1MiwwLjA2MjA1IDAuMTAzNTIsMC4xMjMwNXYzLjU3MjI3YzAsMC4wNjEgLTAuMDQ0NDcsMC4xMTMwNSAtMC4xMDU0NywwLjEyMzA1bC00LjQ4NDM3LDAuNzcxNDhjLTAuNTg1LDEuNjY5IC0xLjI2MTMsMy4zMDQyIC0yLjAyOTMsNC45MDgybDIuNjI1LDMuNzE0ODRjMC4wMzUsMC4wNSAwLjAyNzM3LDAuMTE3MTYgLTAuMDE1NjIsMC4xNjAxNmwtMi41MjUzOSwyLjUyNzM0Yy0wLjA0MywwLjA0MyAtMC4xMTIxMSwwLjA0ODY3IC0wLjE2MjExLDAuMDEzNjdsLTMuNzEyODksLTIuNjIzMDVjLTEuNjQsMC43NzEgLTMuMjc2MiwxLjQ0NjMgLTQuOTA4MiwyLjAyOTNsLTAuNzczNDQsNC40ODQzOGMtMC4wMSwwLjA2IC0wLjA2MjA1LDAuMTAzNTIgLTAuMTIzMDUsMC4xMDM1MmgtMy41NzIyN2MtMC4wNjEsMCAtMC4xMTMwNSwtMC4wNDQ0NyAtMC4xMjMwNSwtMC4xMDU0N2wtMC43NzE0OCwtNC40ODQzN2MtMS42MDksLTAuNTU5IC0zLjI0MzIsLTEuMjI1MyAtNC45MDgyLC0yLjAyOTNsLTMuNzE0ODQsMi42MjVjLTAuMDUsMC4wMzUgLTAuMTE3MTYsMC4wMjczNyAtMC4xNjAxNiwtMC4wMTU2MmwtMi41MjczNCwtMi41MjUzOWMtMC4wNDMsLTAuMDQzIC0wLjA0ODY3LC0wLjExMjExIC0wLjAxMzY3LC0wLjE2MjExbDIuNjIzMDUsLTMuNzEyODljLTAuNzc5LC0xLjY2NSAtMS40NTUzLC0zLjMwMTIgLTIuMDI5MywtNC45MDgybC00LjQ4NDM3LC0wLjc3MzQ0Yy0wLjA2LC0wLjAxIC0wLjEwMzUyLC0wLjA2MjA1IC0wLjEwMzUyLC0wLjEyMzA1di0zLjU3MjI3YzAsLTAuMDYxIDAuMDQzNTIsLTAuMTEyMDUgMC4xMDM1MiwtMC4xMjMwNWw0LjQ4NjMzLC0wLjc3MzQ0YzAuNTgxLC0xLjYzNiAxLjI0NzMsLTMuMjcxMjUgMi4wMjkzLC00LjkwNjI1bC0yLjYyNSwtMy43MTQ4NGMtMC4wMzUsLTAuMDUgLTAuMDI3MzcsLTAuMTE3MTYgMC4wMTU2MywtMC4xNjAxNmwyLjUyNTM5LC0yLjUyNzM0YzAuMDQzLC0wLjA0MyAwLjExMjExLC0wLjA0ODY3IDAuMTYyMTEsLTAuMDEzNjdsMy43MTI4OSwyLjYyMzA1YzEuNTQ4LC0wLjc0MyAzLjE4OTIsLTEuNDE1MyA0LjkwODIsLTIuMDI5M2wwLjc3MzQ0LC00LjQ4NDM3YzAuMDEsLTAuMDYgMC4wNjIwNSwtMC4xMDM1MiAwLjEyMzA1LC0wLjEwMzUyek0zMiwyM2MtNC45NzEsMCAtOSw0LjAyOSAtOSw5YzAsNC45NzEgNC4wMjksOSA5LDljNC45NzEsMCA5LC00LjAyOSA5LC05YzAsLTQuOTcxIC00LjAyOSwtOSAtOSwtOXpNMzIsMjdjMi43NjEsMCA1LDIuMjM5IDUsNWMwLDIuNzYxIC0yLjIzOSw1IC01LDVjLTIuNzYxLDAgLTUsLTIuMjM5IC01LC01YzAsLTIuNzYxIDIuMjM5LC01IDUsLTV6Ij48L3BhdGg+PC9nPjwvZz48L3N2Zz4=') !important;
}
#submenu {
	position: relative;
}
#submenu > span[data-action] {
	position: absolute;
	width: 28px;
	height: 28px;
	top: 0px;
	padding: 0px;
}
#submenu > span[data-action="download"] {
	right: 325px;
}
#submenu > span[data-action="options"] {
	right: 292px;
}
div.JV_visited {
	float: right;
	font-size: 11px;
	opacity: 0.4;
	cursor: pointer;
	transition: all 0.3s ease;
}
div.JV_visited:hover {
	opacity: 1;
}
div.JV_visited > span {
	display: block;
}
.add-comment-link[data-user_id="null"],
.addcomment[data-user_id="null"],
.post_rating[data-vote="0"] > span > div,
.comment_rating[data-vote="0"] > span > div {
	display: none !important;
}

@keyframes mark {
	0% {
		background-color: rgba(155, 214, 40, 0.4);
	}
	100% {
		background-color: transparent;
	}
}